<ion-view view-title="The Game">
  <ion-content class="padding">
    <div style="position:relative;">
        <div class="inner-div">
            <img class="computer-image" id="computer-choice-image" src='img/no_choice.png'>
        </div>
        
        <div class="inner-div">
            <p class="score-text" id="computer-choice">Computer:</p>
            <p class="score-text" >vs.</p>
            <p class="score-text" id="user-choice">You:</p>
            <p class="score-text" id="result">The winner is...</p>
        </div>
        
       <div class="inner-div">
           <img class="computer-image" id="user-choice-image" src='img/no_choice.png'>
       </div>
       
       <div class="inner-div">
            <img class="user-image" src='img/rock.png' onclick="handleUserChoice(0)">
            <img class="user-image" src='img/paper.png' onclick="handleUserChoice(1)">
            <img class="user-image" src='img/scissors.png' onclick="handleUserChoice(2)">
        </div>
    </div>
  </ion-content>
</ion-view>
