<ion-view view-title="The Game">
  <ion-content class="padding">
    <h2>Welcome to Rock Papers Scissors</h2>
        
    <button class="button button-full button-positive" id="rock" onclick="handleUserChoice(0)">
    ROCK
    </button>
    <button class="button button-full button-positive" id="paper" onclick="handleUserChoice(1)">
    PAPER
    </button>
    <button class="button button-full button-positive" id="scissors" onclick="handleUserChoice(2)">
    SCISSORS
    </button>
    
    <p id="computer-choice"></p>
    <p id="user-choice"></p>
    <p id="result"></p>
  
  </ion-content>
</ion-view>
